{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}

body {
    color: #ffffff;
    background: #000000;
}

header#banner a {
    color: #ffffff;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #ffffff;
}

main#content p {
    color: #ffffff;
}

main#content hr {
    background: #000000;
}

main#content #toc h4 {
    color: #ffffff;
}

main#content ul#posts small {
    color: #ffffff;
}

main#content header#post-header div {
    color: #ffffff;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
